
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= activities.title %></title>
</head>
<body>
  <h1>Activities Journal</h1>
  <% if (user === null) { %>
    <%-include ('partials/loggedOutNav')%>
  <% } else if (user.isLoggedin === true) { %>
    <%-include ('partials/loggedInNav')%>
    <h2>Hello <%= user.username %></h2>
  <% } %>
    <% activities.forEach((activities)=>{ %> 
      <li >
        <a href="/activities/<%= activities.id %>" >
          <%= activities.title %>
        </a>
        </li>
      <% }) %>
    </ul>
</body>
</html>

