<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activity <%= activities.title %></title>
  </head>

  <body>
    <h1><%= activities.title %></h1>
    <p><%= prompts.name %></p>
    <p><%= activities.note %></p>
    <p><%= activities.experienceDesc %></p>
    <img src="<%= activities.photo %>" alt="photo of <%= prompts.name %>"/>
    <form action="/activities/<%= activities.id %>/edit" method="GET">
      <input type="submit" value="Edit or Delete" />
    </form>
  </body>
</html>
  