<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activity <%= activities.title %></title>
  </head>
  <body>
    <h1><%= activities.title %></h1>
    <p><%= prompt.name %></p>
    <p><%= activities.note %></p>
    <p><%= activities.experienceDesc %></p>
    <p><%= activities.photo %></p>
    <form action="/activities/<%= activities.id %>/edit" method="GET">
    <input type="submit" value="Edit Activity">
    </form>
  </body>
</html>
  