<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Sensorial</title>
</head>
<body>
  <% if (user === null) { %>
    <%-include ('partials/loggedOutLogo')%>
  <% } else if (user.isLoggedin === true) { %>
    <%-include ('partials/loggedInLogo')%>
  <% } %>
  <% if (user === null) { %>
    <%-include ('partials/loggedOutNav')%>
  <% } else if (user.isLoggedin === true) { %>
    <%-include ('partials/loggedInNav')%>
    <h2>Hello <%= user.username %></h2>
  <% } %>
  <h1>Contact Us</h1>
  <form action="" method="" id="contact">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="email">Email</label>
    <input type="text" name="email">
  </form>
  <textarea rows="4" cols="50" name="comment" form="contact">Your message here...</textarea>
  <input type="submit" value="Send" form="contact">
</body>
</html>
