<body>
    <h1 class="mb-4">Random Prompt</h1>
    <h4 class="mb-4"><%=prompt[randomNum].name%></h4>
    <p class="materials"><strong>Materials required:</strong>
      <ul id="materials">
        <% for (let i=0; i<prompt.length; i++ ){ %>
        <li><%=prompt[randomNum].materials[i]%></li>
        <% } %>
      </ul>
    </p>
    <p class="instructions"><strong>Instructions:</strong>
      <div class="text-center"><%=prompt[randomNum].instructions%></div>
    </p>
    <p class="experienceGoals"><strong>Experience Goals:</strong>
    <div><%=prompt[randomNum].experienceGoals%></div></p>
    <p class="vocabulary"><strong>Vocabulary:</strong>
      <div><%=prompt[randomNum].vocabulary%></div>
    </p>
    <div class="prompt-buttons d-inline-flex m-2">
      <form action="/activities/new" method="GET">
        <input type="submit" class="btn btn-warning m-2" value="Create New Activity" />
      </form>
      <form action="/activities" method="GET">
        <input type="submit" class="btn btn-warning m-2" value="My Activities Journal" />
      </form>
      <form action="/currentPrompt" method="GET">
        <input type="submit" class="btn btn-warning m-2" value="Back to Current Prompt" />
      </form>
    </div>
  </body>
  