<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
</head>
<body>
  <%-include ('../partials/loggedInLogo')%>
  <%-include ('../partials/loggedInNav')%>
  <h1>User Profile</h1>
  <img id="profile-pic" src="<%= user.picture %>" alt="">
  <h2><%=user.username%></h2>
  <h2><%=user.email%></h2>
  <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
  <form action="/users/<%=user._id%>/edit" method="GET">
    <input type="submit" value="Update">
  </form>
  <%-include ('../partials/loggedInFooter')%>
</body>
</html>
